body{
    background-color: #FFE4C4;
}

label, input {
    display: block;
    margin-bottom: 10px;
}

label {
    margin-bottom: 5px;
    
}

#rentalCheckbox{
   display:block;
   text-align: justify;
}

#inputFields{
   padding: 10px;
}
#submitButton{
    width:100px;
    text-align: center;
    margin:auto;
    margin-bottom: 50px;
}
